<div class="footerspace">
	<div class="cambrLogo">Chicago Area Mountain Bikers</div>
	<p>Chicago Area Mountain Bikers - Copyright 2013</p>
	<a class="privacyPolicy" href="/privacy-policy">Privacy mumbo jumbo</a>
</div>