<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">CAMBr North</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li {% if mixture.url == "index" %}class="active"{% endif %}><a href="/">Home</a></li>
                    <li {% if mixture.url == "model" %}class="active"{% endif %}><a href="/donate">Donate</a></li>
                    <li {% if mixture.url == "model" %}class="active"{% endif %}><a href="/mission">Mission</a></li>
                    <li {% if mixture.url == "model" %}class="active"{% endif %}><a href="/andres-bike-park">Andres Bike Park</a></li>
                    <li {% if mixture.url == "model" %}class="active"{% endif %}><a href="/raceway-woods">Raceway Woods</a></li>
                    <li {% if mixture.url == "model" %}class="active"{% endif %}><a href="/beulah-park">Beulah Park</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>