{% block content %}
	<div class="hero-unit">
		<h2>{{model.title}}</h2>

		<p>Andres Bike Park is located at Keith Andres Park, a 25 acre village park, in Carpentersville, IL and is built as a partnership between CAMBr and the Village of Carpentersville. Trails are currently under development and include a skills development area (currently open), flow trails, downhill gravity lines, hiking trails, and will also include a pump track, dirt jumps, and more fun for mountain and BMX bikes.</p>

		<p>Big fun bike parks like this are expensive to build and maintain. Would you consider <a href="/donate">donating a dollar to build a foot of trail</a> or sponsor a feature at Andres Bike Park?</p>

		<p>For more park updates or to find out when you can help us build, please visit our Facebook page at <a href="http://www.facebook.com/andresbikepark" target="_blank">http://www.facebook.com/andresbikepark</a> or our official site for plans and more at <a href="http://www.andrespark.org" target="_blank">http://www.andrespark.org</a>.</p>

		<iframe width="1050" height="900" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?ie=UTF8&amp;q=Andres+bike+park,+carpentersville,+il&amp;fb=1&amp;gl=us&amp;hq=Andres+bike+park,+carpentersville,+il&amp;cid=0,0,4744694620868817084&amp;hnear=&amp;ll=42.129682,-88.264672&amp;spn=0.006295,0.006295&amp;t=h&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?ie=UTF8&amp;q=Andres+bike+park,+carpentersville,+il&amp;fb=1&amp;gl=us&amp;hq=Andres+bike+park,+carpentersville,+il&amp;cid=0,0,4744694620868817084&amp;hnear=&amp;ll=42.129682,-88.264672&amp;spn=0.006295,0.006295&amp;t=h&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

		<h4>Andres Bike Park Partners</h4>
		<ul>
			<li>The Village of Carpentersville</li>
			<li>International Mountain Biking Association (IMBA)</li>
			<li>Chicago Area Mountain Bikers (CAMBr)</li>
		</ul>
	</div>
{% endblock %}