{% block content %}
	<div class="hero-unit">
		<h2>Beulah Park Nature Area</h2>

		<p>Beulah Park Nature Area is currently adding a multi-use trail system for hikers, mountain bikers and nature enthusiasts. Beulah Park is being built and maintained by volunteers, with help from The Zion Park District, The Chicago Area Mountain Biker Association (Cambr.org), and Zion Cyclery. The new trail system will offer fun and challenging hiking, running and biking for all levels of ability. For more information visit www.cambr.org.</p>

		<p>These trails are built and maintained by volunteers who love their sport. Would you consider <a href="/donate">donating a dollar to build a foot of trail</a>?</p>

		<p>For more park updates or to find out when you can help us build, please visit our Facebook page at <a href="http://www.facebook.com/beulahparknaturearea" target="_blank">http://www.facebook.com/beulahparknaturearea</a>.</p>

		<iframe width="1050" height="900" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1800+Kedron+Blvd.,+Zion,+Illinois+60099&amp;aq=&amp;sll=42.120381,-88.300424&amp;sspn=0.026962,0.066047&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=1800+Kedron+Blvd,+Zion,+Illinois+60099&amp;z=14&amp;ll=42.461383,-87.835848&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1800+Kedron+Blvd.,+Zion,+Illinois+60099&amp;aq=&amp;sll=42.120381,-88.300424&amp;sspn=0.026962,0.066047&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=1800+Kedron+Blvd,+Zion,+Illinois+60099&amp;z=14&amp;ll=42.461383,-87.835848" style="color:#0000FF;text-align:left">View Larger Map</a></small>
		<h4>Beulah Park Partners</h4>
		<ul>
			<li>Zion Park District</li>
			<li>International Mountain Biking Association (IMBA)</li>
			<li>Chicago Area Mountain Bikers (CAMBr)</li>
		</ul>
	</div>
{% endblock %}