{% block content %}
	<div class="hero-unit">
		<h2>Chicago Area Mountain Bikers - North Chapter</h2>

		<p>We are the Chicago Area Mountain Bikers (CAMBr) North Chapter, a volunteer organization of hundreds of riders who work to ensure that mountain bikers have safe, legal and environmentally friendly places ride. Our members have donated thousands of work hours to build and improve area trails. We are a chapter of IMBA, the International Mountain Bicycling Association, the national trail cycling advocacy organization.</p>

		<p>The mission of the Chicago Area Mountain Bikers is to educate bicyclists, promote responsible trail use, prevent trail closings and maintain and build multi-use natural surface singletrack cycling opportunities in the Chicago area.</p>

		<p><a href="/donate">Donate a dollar to build a foot of trail</a></p>

		<iframe width="560" height="315" src="http://www.youtube.com/embed/SwAzTp9Sdw8" frameborder="0" allowfullscreen></iframe>
	</div>
{% endblock %}