{% block content %}
	<div class="hero-unit">
		<h2>CAMBr North's Mission</h2>
		<p>CAMBr is the Chicago Area Mountain Bikers, a volunteer organization of hundreds of riders who work to ensure that mountain bikers have diverse and challenging local opportunities to enjoy their sport. Our members have donated thousands of work hours to build and improve area trails. We are a member club of the International Mountain Bicycling Association (IMBA), the national trail cycling advocacy organization.</p>

<p>The mission of the Chicago Area Mountain Bikers is to educate bicyclists, promote responsible trail use, prevent trail closings, maintain and build multi-use natural surface singletrack and freeride cycling opportunities in the Chicago area. CAMBr seeks to promote trail and freeride bicycling through stewardship, environmental and social responsibility, education, and a spirit of cooperation among all trail users, the conservation community, and governing bodies.</p>

<h4>Why Should I Care?</h4>
<p>Simply put, no other group has done so much to protect the interests of Chicago-area mountain bikers. It is only through our continued efforts to repair and maintain unpaved trails that we can counter strong objections to the presence of mountain bikers on area trails. Had CAMBr not been formed, trail cycling would have been banned throughout Chicagoland.</p>
	</div>
{% endblock %}