{% block content %}
	<div class="hero-unit">
		<h2>Cambrnorth.org and Cambrnorth.com Privacy Policy</h2>

		<p>We deal with enough legal work when working with landowners that we try to keep the website pretty free of it. Our main concern here is making friends with bikers and members of the community and helping make the trails we build and maintain fun and safe to use. That said, the suits want us to have SOMETHING here about your privacy, so here goes.</p>

		<p>Chicago Area Mountain Bikers (CAMBr) will never share or sell your personal information to third parties for any reason except the following:
		<ul>
			<li>This site sends your info to PayPal for payment processing. We don't store or process your payment information ourselves, we'd rather leave that to a company with a track record of security and privacy</li>
			<li>We may add your email address to our email service to keep you updated on the happenings and goings-on around CAMBr. We use a reputable service for this as well.</li>
		</ul>
		</p>
		<p>That's really it. If you feel you're still not in a safe place here, let us know what we can do to help make it better. Email Brian at <a href="mailto:blouis@cambr.org">blouis@cambr.org</a> and we'll send you a snuggle blanket or something.</p>
	</div>
{% endblock %}